<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- 

            Set compilation debug="true" to insert debugging 

            symbols into the compiled page. Because this 

            affects performance, set this value to true only 

            during development.

        -->
    <compilation debug="true">
    </compilation>
  </system.web>
</configuration>